<!doctype html>
<html>
<head>
<title>Russell Portfolio Allocator</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" type="text/css" href="stylesheets/styles.css"/>
<link rel="stylesheet" href="https://russellinvestments.com/static/au/tools/portfolio-allocator/stylesheets/unsemantic-grid-responsive.css" type="text/css"/>
<script src="https://russellinvestments.com/static/au/tools/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="vendor/jquery.xdomainrequest.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="javascripts/30e6333b.allocator.min.js"></script>

<link href="stylesheets/092ac1b0.screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<link href="stylesheets/d41d8cd9.print.css" media="print" rel="stylesheet" type="text/css" />
<!--[if IE]>
      <link href="stylesheets/d41d8cd9.ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MSKC6G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
{'gtm.start': new Date().getTime(),event:'gtm.js'}

);var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MSKC6G');</script>
<!-- End Google Tag Manager -->
<main>
<div class="grid-100">
  <div class="content">
    <div class="infobox">
      <p class="disclaimer"><strong>Important information</strong><br>
        The sample allocations are for illustrative purposes only. This tool is not intended to be a substitute for financial advice. There is no guarantee that any assumptions will be suitable for your particular circumstances. You should not make any decisions based on the information obtained using the Manager Allocation Tool without consulting an independent professional adviser.<br>
      </p>
    </div>
  </div>
</div>
<div class="grid-container" ng-controller="NavigationCtrl" ng-class="{'loaded': loaded}">
  <div ng-view>
  </div>
  <div class="grid-100 data-table nav-buttons">
    <div class="form-button">
      <ul class="buttons-left">
        <li ng-hide="currentPath() == '/fund-information'"><a href="#/fund-information"><i class="btn-funds"></i>Edit fund data</a></li>
      </ul>
      <ul class="buttons-right">
        <li ng-hide="currentPath() == '/total-portfolio'"><a href="" ng-click="viewTotalPortfolio()"><i  class="btn-portfolio"></i>View portfolio</a></li>
        <li><a href="" ng-click="generateReport()"><i class="btn-pdf"></i>Generate the report</a></li>
      </ul>
    </div>
  </div>
  <br class="clr">
  <div ng-controller="PrintCtrl">
    <div print-dialog>
    </div>
  </div>
</div>
</main>
</body>
</html>
