<div class="grid-100">
  <div class="content"> <span class="steps">Step 2</span>
    <h1>View the total portfolio</h1>
  </div>
</div>
<div class="grid-100" ng-controller="PortfolioViewCtrl">
  <div class="tile">
    <div class="grid-100">
      <div class="tabs">
        <ul>
          <li><span>Display</span></li>
          <li ng-class="{active: tab == selectedTab}" ng-repeat="tab in tabs"><a href="" ng-click="selectTab(tab)">{{ tab.label }}</a></li>
        </ul>
        <fieldset class="view-type">
          <label for="viewTypePie"><input id="viewTypePie" type="radio" name="viewType" value="pie" ng-model="viewType" /> Pie view</label>
          <label for="viewTypeTable"><input id="viewTypeTable" type="radio" name="viewType" value="table" ng-model="viewType" /> Table view</label>
        </fieldset>
      </div>
      <br clear="all" />
      <div ng-show="viewType == 'pie'" class="pie-view">
        <div class="container-75 charts-container" chart-container chart-data="chartData" current-chart="{{ selectedTab.id }}">
          <div portfolio-chart
            class="charts" chart-enabled="{{ currentChart == 'assetClass' }}"
            chart-data-type="Asset Class"
            chart-data-values="chartData.assetClassData"
            chart-area="65%"
            chart-hole="0.5"></div>
          <div portfolio-chart
            class="charts" chart-enabled="{{ currentChart == 'fund' }}"
            chart-data-type="Fund"
            chart-data-values="chartData.fundData"
            chart-area="81%"
            chart-hole="0.9"></div>
          <div portfolio-chart
            class="charts" chart-enabled="{{ currentChart == 'manager' }}"
            chart-data-type="Manager"
            chart-data-values="chartData.managerData"
            chart-area="96%"
            chart-hole="0.93"></div>
        </div>
        <div class="container-25" id="legend-table-container">
          <div class="legend" chart-legend data="legend"></div>
        </div>
      </div>
      <div ng-show="viewType == 'table'">
        <div portfolio-table table-data-values="activeData" title="{{ selectedTab.label }}">
      </div>
    </div>
  </div>
</div>